.wl_sn li {
display: inline;
margin: 0 15px;
	& a {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: @link-color;
		&:hover,
		&:focus {
		background: @brand-primary;
		}
	border-radius: 0;
	text-align:center;

		& .fa {
		line-height: 30px;
		}
	}
}


.bs-docs-sidenav  {
//	top: 250px;
	margin: 1px 0 0 0;
	padding: 0;
	& > li {
		list-style: none;
		& > a {
		display: inline-block;
		padding: @padding-small-vertical @panel-body-padding;
		}
		&.active a {
		color: @brand-primary;
		}
	}
}

.extra_link {
margin-top:180px;
}
.bs-docs-section {
padding-top:120px;
padding-bottom:300px;
}
.kolomna {
padding-top:60px;
}
.allBlock {
padding-bottom: 200px;
}

.wl_start_txt {
    color: #1faee9;
	font-weight: 100;
	padding-top: 18px;
  @media (min-width: @screen-md-min) {
    font-size: 60px;
	line-height: 60px;
		& p {
		float: right;
		margin-top: 270px;		
		}
  }
  @media (min-width: @screen-lg-min) {
	font-size: 80px;
	line-height: 90px;
		& p {
		float: right;
		margin-top: 330px;
		}
  }
}